@ui-color-green: #63d1bb;
@ui-color-grey: #ececec;
@border-color: #000000;
@headline-color: #f1f1f1;

@font-size-normal: 14px;
@font-size-big: 16px;
@font-size-bigger: 18px;
@font-size-large: 24px;

@font-color-base: #000000;

@font-family-plain-text: "Open Sans", "Arial", sans-serif;
@font-family-header: "Verdana", "Arial", sans-serif;
