@ui-color-green: #63d1bb;
@ui-color-grey: #ececec;
@border-color: #000000;
@headline-color: #f1f1f1;

@font-size__normal: 14px;
@font-size__big: 16px;
@font-size__bigger: 18px;
@font-size__large: 24px;

@font-color__base: #000000;

@font-family__plain-text: "Open Sans", "Arial", sans-serif;
@font-family__header: "Verdana Bold", "Arial", sans-serif;
