.about-production {
  .content-wrapper(@mobile-margin-lr);
  margin-bottom: 58px;
  outline: 1px solid @ui-color-grey;
  .clearfix();
}

.about-production__title {
  position: relative;

  width: 170px;
  padding: 26px 0;
  padding-left: 90px;
  text-align: left;

  .set-font-params(@font-family-header, @font-size-big, 24px, 700);

  &:before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;

    width: 35px;
    height: 35px;

    background: url("../img/icon-video.svg") no-repeat;
  }
}

.about-production__clip {
  position: relative;

  .set-size(260px, 150px);
  margin-bottom: 30px;

  background: #b2aead url("../img/video-mobile@1x.jpg") no-repeat;
}

.about-production__clip-play {
  .abs-centrate();

  .set-size(105px, 78px);

  background: transparent url("../img/icon-play.svg") no-repeat;
  border: none;
  cursor: pointer;
}

.about-production__intro {
  margin-bottom: 25px;
  padding-left: 24px;
  padding-right: 44px;

  line-height: 24px;
}

.about-production__order-btn {
  margin: 0 24px 30px;
}

@media @tablet-widths {
  .about-production {
    position: relative;

    .content-wrapper(@tablet-margin-lr);
    margin-bottom: 65px;
  }

  .about-production__title {
    width: 100%;

    .set-font-params(@font-family-header, @tablet-font-size-big, 24px, 700);

    &:before {
      left: 30px;
      top: 20px;
    }
  }

  .about-production__clip {
    width: 100%;
    height: 457px;
  }
}

@media @desktop-widths {
  .about-production {
    margin-bottom: 100px;
    height: 457px;
  }

  .about-production__title,
  .about-production__intro,
  .about-production__order-btn {
    margin-left: 730px;
    width: 300px;
    // .reset-marg-pad();
  }

  .about-production__title {
    padding-left: 0;
    padding-top: 100px;

    outline: 1px solid green;

    &:before {
      left: 0px;
      top: 0px;
    }
  }

  .about-production__clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 684px;
    margin-bottom: 0;
  }

}
