.about-shop {

  // block

  &__title {
    margin: 0;
    padding: 0;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700px;
  }

  &__list {
    margin: 0;
    margin-bottom: 65px;
    padding: 0;
    list-style: none;

    font-size: 16px;
    font-weight: 700;
  }

  &__item {
    padding-top: 95px;
    // outline: 1px solid green;
  }

  &__item--feature-1 {
    background: #ffffff url("../img/icon-feature-1.svg") 10px 35px no-repeat;
  }

  &__item--feature-2 {
    background: #ffffff url("../img/icon-feature-2.svg") 10px 35px no-repeat;
  }

  &__item--feature-3 {
    background: #ffffff url("../img/icon-feature-3.svg") 10px 35px no-repeat;
  }

  &__item--feature-4 {
    background: #ffffff url("../img/icon-feature-4.svg") 10px 35px no-repeat;
  }

  &__item--feature-5 {
    background: #ffffff url("../img/icon-feature-5.svg") 10px 35px no-repeat;
  }

  &__item--feature-6 {
    background: #ffffff url("../img/icon-feature-6.svg") 10px 35px no-repeat;
  }
}
