.about-production {
  position: relative;
  .content-wrapper(@mobile-margin-lr);
  margin-bottom: 58px;
  outline: 1px solid @ui-color-grey;
  .clearfix();
}

.about-production__info {
  padding-bottom: 30px;
  padding-left: 35px;
  padding-right: 40px;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.about-production__title {
  position: relative;

  width: 170px;
  padding-top: 20px;
  padding-left: 55px;
  padding-bottom: 185px;
  text-align: left;

  .set-font-params(@font-family-header, @font-size-big, 24px, 700);

  &:before {
    content: "";
    position: absolute;
    top: 30px;
    left: -5px;

    width: 30px;
    height: 30px;
    background: #ffffff url("../img/icon-video.svg") no-repeat;
  }
}

.about-production__clip {
  position: absolute;
  top: 96px;

  .set-size(260px, 150px);
  margin-bottom: 30px;

  background: #b2aead url("../img/video-mobile@1x.jpg") no-repeat;

  @media @retina {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

.about-production__clip-play {
  .abs-centrate();
  z-index: 10;
  display: flex;

  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.about-production__clip-play-image {
  width: 100px;
  height: 80px;
  margin: auto;

  fill: @ui-color-green;

  &:hover {
    fill: @ui-color-green;
    width: 120px;
    height: 100px;
  }

  &:active {
    fill: @video-play-active;
    width: 80px;
    height: 60px;
  }
}

.about-production__intro {
  margin-bottom: 25px;
  line-height: 24px;
}

@media @tablet-widths {
  .about-production {
    .content-wrapper(@tablet-margin-lr);
    margin-bottom: 65px;
  }

  .about-production__info {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    padding-left: 40px;
  }

  .about-production__title {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 26px;
    padding-left: 65px;
    .set-font-params(@font-family-header, @tablet-font-size-big, 24px, 700);

    &:before {
      left: 10px;
      top: 25px;
    }
  }

  .about-production__clip {
    position: static;
    width: 100%;
    min-height: 453px;
    order: -1;
    background-size: 100%;
    margin-bottom: 0;

    background-image: url("../img/video-tablet@1x.jpg");

    @media @retina {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  .about-production__clip-play {
    top: 240px;
  }

  .about-production__intro {
    margin: 0;
    margin-bottom: 30px;
    .set-font-params(@font-family-plain-text, @tablet-font-size-normal, 30px, 400);
  }

  .about-production__order-btn {
    margin-top: auto;
    margin-bottom: 45px;
  }

}

@media @desktop-widths {
  .about-production {
    display: flex;
    margin-bottom: 100px;
    // min-height: 455px;
  }

  .about-production__info {
    margin-left: auto;
    align-items: flex-start;
    padding-left: 80px;
  }

  .about-production__clip {
    width: 700px;
    margin-bottom: 0;

    background-image: url("../img/video-desktop@1x.jpg");

    @media @retina {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }

  .about-production__clip-play {
    left: 340px;
  }

  .about-production__title,
  .about-production__intro {
    box-sizing: border-box;
    width: 250px;
    padding-left: 0;
    text-align: left;
  }

  .about-production__title {
    padding-left: 0;
    padding-right: 20px;
    padding-top: 100px;

    &:before {
      left: 0px;
      top: 40px;
    }
  }

  .about-production__order-btn {
    width: 230px;
    margin-bottom: 60px;
    padding-left: 0;
  }

}
