.about-shop {
  .content-wrapper();
}

.about-shop__title {
  .reset-marg-pad();

  .set-font-params(@font-family-header, @font-size-large, 30px, 700);
}

.about-shop__list {
  .reset-marg-pad();
  margin-bottom: 65px;
  list-style: none;

  .set-font-params(@font-family-header, @font-size-big, 16px, 700);
}

.about-shop__item {
  padding-top: 95px;

  &--feature-1 {
    background: url("../img/icon-feature-1.svg") 10px 35px no-repeat;
  }

  &--feature-2 {
    background: url("../img/icon-feature-2.svg") 10px 35px no-repeat;
  }

  &--feature-3 {
    background: url("../img/icon-feature-3.svg") 10px 35px no-repeat;
  }

  &--feature-4 {
    background: url("../img/icon-feature-4.svg") 10px 35px no-repeat;
  }

  &--feature-5 {
    background: url("../img/icon-feature-5.svg") 10px 35px no-repeat;
  }

  &--feature-6 {
    background: url("../img/icon-feature-6.svg") 10px 35px no-repeat;
  }
}
