.btn {
  display: block;
  .reset-marg-pad();
  padding: 17px 0;

  font-family: "Open Sans Bold";
  font-size: @font-size__big;
  color: @font-color__base;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: transparent;
  border: 2px solid @border-color;
}
