.contacts-email {

  margin-bottom: 35px;

  &__label {
    display: inline-block;
    vertical-align: top;
    width: 25%;
  }

  &__value {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    border-bottom: 1px solid @ui-color-green;
  }
}
