.contacts-address {
  .content-wrapper(@mobile-margin-lr);
  margin-bottom: 30px;
}

.contacts-address__label {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}

.contacts-address__value {
  display: inline-block;
  vertical-align: top;
  width: 70%;

  line-height: 30px;
}

@media @tablet-widths {
  .contacts-address {
    float: right;
    width: 40%;
    .reset-marg-pad();
    margin-right: @tablet-margin-lr;
  }
}

@media @desktop-widths {
  .contacts-address {
    float: none;
    width: 100%;
    .reset-marg-pad();
    margin-bottom: 100px;
  }
}
