.contacts-email {
  .content-wrapper();
  margin-bottom: 35px;
}

.contacts-email__label {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}

.contacts-email__value {
  text-decoration: none;
  color: @font-color__base;

  display: inline-block;
  vertical-align: top;
  width: 70%;
  border-bottom: 1px solid @ui-color-green;
}
