.head-line {
  box-sizing: border-box;
  .set-font-params(@font-family-header, @font-size-large, 30px, 700);
  text-align: center;
  margin: 0;

  &--index {
    min-height: 300px;
    padding-top: 85px;
    padding-left: 40px;
    padding-right: 40px;
  }

  &--inner-page{
    padding: 73px 0;

    background: @headline-color;
  }
}

@media @tablet-widths {
  .head-line {
    width: 100%;
    margin: auto;
    .set-font-params(@font-family-header, @tablet-font-size-large, 50px, 700);

    &--index {
      min-height: 555px;
      padding-top: 80px;
      padding-left: 130px;
      padding-right: 130px;
    }

    &--inner-page {
      padding-top: 20px;
      padding-bottom: 80px;
    }
  }
}

@media @desktop-widths {
  .head-line {
    .set-font-params(@font-family-header, @desktop-font-size-large, 57px, 700);

    &--index {
      min-height: 580px;
      padding-top: 110px;
      padding-left: 260px;
      padding-right: 260px;
    }

    &--inner-page {
      padding-top: 50px;
      padding-bottom: 100px;
    }
  }
}
