.main-nav {

  &--closed {
    display: none;
  }
}

.main-nav__list {
  .reset-marg-pad();

  list-style: none;
  .set-font-params(@font-family-header, @font-size-big, 16px, 700);
}

.main-nav__item {
  display: block;
  .reset-marg-pad();
  padding-left: 90px;

  line-height: 80px;
  text-align: left;

  border-bottom: 1px solid @ui-color-grey;
}

.main-nav__item-link {
  position: relative;

  text-decoration: none;
  color: @font-color-base;

  &--search::before,
  &--cart::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;

    display: block;
    .set-size(20px, 20px);

    background: #ffffff url("../img/icon-search.svg") no-repeat;
  }

  &--cart::before {
    background: #ffffff url("../img/icon-cart.svg") no-repeat;
  }
}

@media @tablet-widths {
  .main-nav {
    padding-right: @tablet-margin-lr;
    &--closed {
      display: block;
    }
  }

  .main-nav__wrapper {
    .clearfix();
  }

  .main-nav__item {
    float: left;
    padding-left: 10px;

    border-bottom: none;
    border-left: 1px solid @ui-color-grey;
  }

  .main-nav__item-link {
    &--search {
      font-size: 0;
      margin-left: 50px;
      margin-right: 50px;
    }

    &--search:before {
      top: -15px;
    }

    &--cart {
      font-size: @font-size-bigger;
    }
  }
}

@media @desktop-widths {

}
