.order-form {
  .content-wrapper(@mobile-margin-lr);
  margin-bottom: 58px;
}

.order-form__intro {
  line-height: 25px;
}

.order-form__param-group {
  position: relative;
  margin-bottom: 40px;

  &:before {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;

    width: 75%;
    height: 1px;
    background-color: @ui-color-green;

  }
}

.order-form__param-group-title {
  .reset-marg-pad();
  margin-bottom: 30px;

  .set-font-params(@font-family-plain-text, 17px, 17px, 700);
  color: @ui-color-green;
  text-transform: uppercase;
}

.order-form__radio-label,
.order-form__checkbox-label {
  position: relative;

  display: block;
  margin-bottom: 36px;
  padding-left: 64px;

  .set-font-params(@font-family-header, 17px, 19px, 700);

  cursor: pointer;
}

.order-form__radio-label::before {
  .abs-centrateY();

  .set-size(40px, 40px);

  border: 2px solid @border-color;
  border-radius: 50%;
  cursor: pointer;
}

.order-form__checkbox-label::before {
  .abs-centrateY();

  .set-size(40px, 40px);

  border: 2px solid @border-color;
  cursor: pointer;
}

.order-form__radio-input,
.order-form__checkbox-input {
  display: none;
}

.order-form__radio-input:checked + .order-form__radio-label::after {
  .abs-centrateY();
  left: 14px;

  .set-size(17px, 17px);

  background: @ui-color-green;
  border-radius: 50%;
}

.order-form__checkbox-input:checked + .order-form__checkbox-label::after {
  .abs-centrateY();
  left: 10px;

  .set-size(25px, 25px);

  background: transparent url("../img/icon-tick.svg") no-repeat;
}

.order-form__label {
  display: block;

  .set-font-params(@font-family-header, 17px, 19px, 700);
}

.order-form__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;

  .set-font-params(@font-family-header, 17px, 19px, 400);

  outline: none;
  border: none;
  border-bottom: 2px solid @border-color;


  &--text {
    margin-bottom: 57px;
    padding: 16px;

    border: 2px solid @border-color;
  }

  &--tel,
  &--email {
    padding-top: 0;

    background: #ffffff url("../img/icon-phone.svg") no-repeat;
    background-position-x: right;
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
  }
}

.order-form__order-btn {
  width: 100%;
}

.order-form__requirement {
  display: none;
}

@media @tablet-widths {
  .order-form {
    .reset-marg-pad();
    margin-bottom: 54px;
  }

  .order-form__intro {
    margin-bottom: 80px;
    padding: 0 @tablet-margin-lr;
  }

  .order-form__param-group {
    display: flex;
    .reset-marg-pad();
    padding-top: 60px;
    padding-bottom: 15px;

    &:before {
      display: none;
    }
  }

  .order-form__param-group-title {
    box-sizing: border-box;
    width: 217px;
    padding-left: @tablet-margin-lr;
  }

  .order-form__param-group-data {
    width: 500px;

    display: flex;
    flex-wrap: wrap;
  }

  .order-form__param-group:nth-child(5){
    padding-bottom: 0;
  }

  .order-form__param-group:nth-child(6){
    padding-top: 0;
    padding-bottom: 30px;
  }

  .order-form__param-group:nth-child(1),
  .order-form__param-group:nth-child(3),
  .order-form__param-group:nth-child(5),
  .order-form__param-group:nth-child(6) {
    background: @headline-color;
  }

  .order-form__radio-label {
    width: 470px;
    margin-bottom: 50px;

    .set-font-params(@font-family-header, @tablet-font-size-big, 18px, 700);
  }

  .order-form__checkbox-label {
    box-sizing: border-box;
    width: 50%;
    margin-bottom: 50px;

    .set-font-params(@font-family-header, @tablet-font-size-big, 18px, 700);
  }

  .order-form__input-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .order-form__label {
    .set-font-params(@font-family-header, @tablet-font-size-big, 18px, 700);
  }

  .order-form__input {
    flex-grow: 1;

    box-sizing: border-box;
    width: auto;
    margin-left: 23px;
    padding-top: 0;
    padding-bottom: 20px;

    background-color: transparent;

    &--tel,
    &--email,
    &--text {
      width: 100%;
      margin-left: 0;

      background-position-x: 95%;
    }
  }

  .order-form__order-btn {
    width: 230px;
    margin-left: @tablet-margin-lr;
  }

  .order-form__requirement {
    display: block;
    float: right;
    margin-right: 50px;

    .set-font-params(@font-family-plain-text, @tablet-font-size-normal, 30px, 400);
    color: #444444;
  }

}

@media @desktop-widths {
  .order-form__intro {
    width: 700px;
    margin-bottom: 30px;
    padding-left: 225px;
  }

  .order-form__param-group-title {
    width: 225px;
    padding-left: 113px;
  }

  .order-form__param-group-data {
    width: 700px;
  }

  .order-form__checkbox-label {
    width: 33%;
  }

  .order-form__order-btn {
    margin-left: 225px;
  }

  .order-form__requirement {
    margin-right: 225px;
  }
}
