.page-header {
  box-sizing: border-box;
  .site-wrapper(@mobile-width);
  padding: 0;

  border-top: 1px solid @ui-color-grey;
  border-bottom: 1px solid @ui-color-grey;

  text-align: center;
}

.page-header__logo {
  position: relative;

  display: block;
  height: 80px;
  box-sizing: border-box;
  padding: 20px 0;

  border-top: 1px solid @ui-color-grey;
  border-bottom: 1px solid @ui-color-grey;
}

.page-header__toggle {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-30%);

  .set-size(40px, 40px);
  .reset-marg-pad();

  border: none;
  background: transparent url("../img/icon-menu-open.svg") no-repeat;
}

.page-header__delivery-info {
  display: none;
}

@media @tablet-widths {
  .page-header {
    position: relative;

    .clearfix();
    .site-wrapper(@tablet-width);
  }

  .page-header__logo {
    float: left;
    padding-left: @tablet-margin-lr;

    border-bottom: none;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__delivery-info {
    display: block;
    float: right;
    margin-bottom: -100px;
    margin-right: @tablet-margin-lr;

    .set-font-params(@font-family-header, @font-size-normal, 80px, 400);
    color: #444444;
  }
}

@media @desktop-widths {

}
