.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .site-wrapper(@mobile-width);
  background: @headline-color;
}

.page-footer__logo {
  display: none;
}

@media @tablet-widths {
  .page-footer {
    .site-wrapper(@tablet-width);
    justify-content: space-between;
  }

  .page-footer__logo {
    display: block;
    margin: 50px;
  }
}

@media @desktop-widths {
  .page-footer {
    .site-wrapper(@desktop-width);
  }
}
