.product {

  margin-bottom: 33px;
  outline: 1px solid #ededed;


  &__link {
    display: block;
    margin-bottom: 28px;
  }

  &__data {
    margin: 0 28px;
  }

  &__name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;

    text-align: left;
  }

  &__name a {
    text-decoration: none;
    color: #000000;
  }

  &__params {
    margin-bottom: 13px;
    padding-bottom: 20px;

    line-height: 30px;
    color: #444444;

    border-bottom: 1px solid #ededed;
  }

  &__price {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 27px;

    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
  }

  &__buy-btn {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin-left: 50%;

    font-size: 0;
    background: #ffffff url("../img/icon-cart.svg") no-repeat;
    background-position: center;
  }
}
