.product {
  margin-bottom: 30px;
  outline: 1px solid #ededed;
}

.product__link {
  display: block;
  margin-bottom: 28px;
}

.product__data {
  margin: 0 28px;
  font-size: 0;
}

.product__name {
  .set-font-params(@font-family-header, @font-size-big, 24px, 700);

  text-align: left;
}

.product__name a {
  text-decoration: none;
  color: @font-color-base;
}

.product__params {
  margin-bottom: 25px;

  .set-font-params(@font-family-header, @font-size-normal, 30px, 400);
  color: #444444;
}

.product__actions {
  padding-top: 25px;
  border-top: 1px solid #ededed;
}

.product__price {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin-bottom: 27px;

  .set-font-params(@font-family-header, @font-size-normal, 24px, 700);
}

.product__buy-btn {
  float: right;
  width: 30px;
  height: 24px;

  font-size: 0;
  text-align: right;
  background: #ffffff url("../img/icon-cart.svg") no-repeat;
  background-position: right;
}

@media @tablet-widths {
  .product {
    display: flex;
    min-height: 335px;
    margin-bottom: 55px;
  }

  .product__link {
    width: 50%;
    .reset-marg-pad();
  }

  .product__image {
    width: 100%;
  }

  .product__data {
    display: flex;
    flex-direction: column;
    width: 50%;
    .reset-marg-pad();
    padding-left: 35px;
    padding-right: 35px;
  }

  .product__name {
    .set-font-params(@font-family-header, @tablet-font-size-big, 24px, 700);
  }

  .product__actions {
    margin-top: auto;
  }

  .product__price {
    .set-font-params(@font-family-header, @tablet-font-size-normal, 24px, 700);
  }
}

@media @desktop-widths {
  .product {
    flex-direction: column;
    align-items: stretch;
    width: 30%;
    margin-right: 5%;
  }

  .product:nth-child(3n) {
    margin-right: 0;
  }

  .product__link {
    width: 100%;
    margin-bottom: 10px;
  }

  .product__data {
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
    padding-left: 28px;
    padding-right: 28px;
  }
}
