.references {

  margin-bottom: 92px;

  &__header {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
  }

  &__item {
    margin: 0;
    margin-bottom: 37px;
    padding: 0;
  }

  &__item-text {
    margin-bottom: 30px;

    line-height: 30px;
  }

  &__item-author {
    display: block;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;

    font-weight: 700;
    font-style: normal;
  }

  &__controls {
    margin-bottom: 38px;

    font-size: 0;
  }

  &__toggle {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    height: 50px;

    border: 1px solid #ececec;
  }

  &__toggle--prev {
    background: #ffffff url("../img/icon-left-arrow.svg") no-repeat;
    background-position: center;
  }

  &__toggle--next {
    background: #ffffff url("../img/icon-right-arrow.svg") no-repeat;
    background-position: center;
  }

}
