.references {
  .content-wrapper();
  margin-bottom: 92px;
}

.references__header {
  .reset-marg-pad();
  margin-bottom: 30px;

  .set-font-params(24px, 30px, 700);
}

.references__item {
  .reset-marg-pad();
  margin-bottom: 37px;
}

.references__item-text {
  margin-bottom: 30px;

  line-height: 30px;
}

.references__item-author {
  display: block;
  .reset-marg-pad();
  margin-bottom: 16px;

  font-weight: 700;
  font-style: normal;
}

.references__controls {
  margin-bottom: 38px;

  font-size: 0;
}

.references__toggle {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  height: 50px;

  border: 1px solid @ui-color-grey;

  &--prev {
    background: #ffffff url("../img/icon-left-arrow.svg") no-repeat;
    background-position: center;
  }

  &--next {
    background: #ffffff url("../img/icon-right-arrow.svg") no-repeat;
    background-position: center;
  }
}
