.shop-catalog {
  list-style: none;
  .reset-marg-pad();
  margin-bottom: 30px;
}

.shop-catalog__item {
  // display: block;
}

.shop-catalog__item-link {
  display: block;
  padding: 30px;

  text-decoration: none;
  .set-font-params(@font-family-shop-catalog, @font-size-bigger, 24px, 700);
  color: #ffffff;

  background: #63d1bb;

  &--interior {
    background: #63d1bb url("../img/icon-interior.svg") no-repeat;
    background-position-x: 90%;
    background-position-y: center;
  }

  &--toy {
    background: #56c3b2 url("../img/icon-toy.svg") no-repeat;
    background-position-x: 90%;
    background-position-y: center;
  }
}

@media @tablet-widths {
  .shop-catalog {
    .content-wrapper(@tablet-margin-lr);
    margin-bottom: 50px;

    font-size: 0;
  }

  .shop-catalog__item {
    display: inline-block;
    width: 50%;
  }

  .shop-catalog__item-link {
    .set-font-params(@font-family-shop-catalog, @tablet-font-size-bigger, 30px, 700);
  }

  .shop-catalog__item-name {
    display: block;
  }

}

@media @tablet-widths {
  .shop-catalog {
    .content-wrapper(@desktop-margin-lr);
    margin-bottom: 150px;
  }
}
