.shop-catalog {
  list-style: none;
  .reset-marg-pad();
  margin-bottom: 30px;
}

.shop-catalog__entry-link {
  display: block;

  text-decoration: none;
  .set-font-params(18px, 24px, 700);
  color: #ffffff;

  background: #63d1bb;

  &--interior {
    background: #63d1bb url("../img/icon-interior.svg") no-repeat;
    background-position-x: 90%;
    background-position-y: center;
  }

  &--toy {
    background: #56c3b2 url("../img/icon-toy.svg") no-repeat;
    background-position-x: 90%;
    background-position-y: center;
  }
}

.shop-catalog__entry-name {
  width: 100px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
