.shop-catalog {
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;



  &__entry-link {
    display: block;

    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;

    background: #63d1bb;
  }

  &__entry-link--interior {
    background: #63d1bb url("../img/icon-interior.svg") no-repeat;
    background-position-x: 90%;
    background-position-y: center;
  }

  &__entry-link--toy {
    background: #56c3b2 url("../img/icon-toy.svg") no-repeat;
    background-position-x: 90%;
    background-position-y: center;
  }

  &__entry-name {
    width: 100px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
