.social-link {
  display: inline-block;
  width: 32px;
  padding-right: 15px;
  height: 32px;
  font-size: 0;

  &--ig {
    background: #f1f1f1 url("../img/icon-insta.svg") no-repeat;
  }

  &--fb {
    background: #f1f1f1 url("../img/icon-fb.svg") no-repeat;
  }

  &--tw {
    background: #f1f1f1 url("../img/icon-twitter.svg") no-repeat;
  }
}
