.social-links {
  padding: 22px 0;

  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

@media @tablet-widths {
  .social-links {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    border: none;
  }
}
